<!doctype html>
<html ng-app="socketChat">
  <head>
    <title>Socket.IO chat</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body ng-controller="MainController as main" class="container">
    <h1>{{main.title}}</h1>
    <p>{{main.description}}</p>
    <ul>
      <li ng-repeat="message in main.messages">{{ message.username }} : {{ message.text }}</li>
    </ul>
    <form action="">
      <input id="m" autocomplete="off" ng-model="main.newMessage.text" /><button ng-click="main.addMessage()">Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script>
      // var socket = io()
      // $('form').submit(function() {
      //   socket.emit('chat message', $('#m').val())
      //   $('#m').val('')
      //   return false
      // })
      // socket.on('chat message', function(msg) {
      //   $('#messages').append($('<li>').text(msg))
      // })
      angular.module('socketChat', [])
        .controller('MainController', MainController)


        function MainController(){
          var vm = this
          var socket = io()
          vm.title = "Socket Chat"
          vm.description = "A website for Alex to prove his angular/socket.io skills"

          vm.messages = [
            {_id: '1', username: 'Ric', text: 'Hey there Morty'},
            {_id: '2', username: 'Morty', text: 'Hey there Granpa Ric, w-w-w-whats up?'},
            {_id: '3', username: 'Ric', text: 'What is this Mortry the 90s?'},
          ]

          // Allows new messages to be made on the input
          vm.newMessage = {}

          // this will happen in the html through ng-click
          vm.addMessage = function(){
            console.log("Adding Message to Array")
            // pushes new message into the message array
            vm.messages.push(vm.newMessage)
            // TODO emit socket event
            // clears input after adding
            vm.newMessage = {}
          }
        }
    </script>
  </body>
</html>
